<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<servers>
		<server>
			<id>central</id>
			<username>${env.MAVEN_USERNAME}</username>
			<password>${env.MAVEN_PASSWORD}</password>
		</server>
	</servers>
	<profiles>
		<profile>
			<id>central</id>
			<activation>
				<activeByDefault>true</activeByDefault>
				<property>
					<name>gpg.passphrase</name>
			        </property>
			</activation>
			<properties>
				<gpg.executable>gpg</gpg.executable>
				<gpg.passphrase>${env.GPG_PASSPHRASE}</gpg.passphrase>
				<gpg.keyname>${env.GPG_PUBLIC_KEY}</gpg.keyname>
			</properties>
		</profile>
	</profiles>
</settings>
