/*
 * OpenAPI definition
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: v0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package io.swagger.client.api;

import com.upstox.ApiCallback;
import com.upstox.ApiClient;
import com.upstox.ApiException;
import com.upstox.ApiResponse;
import com.upstox.Configuration;
import com.upstox.Pair;
import com.upstox.ProgressRequestBody;
import com.upstox.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.upstox.api.ApiGatewayErrorResponse;
import com.upstox.api.SearchInstrumentResponse;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class InstrumentsApi {
    private ApiClient apiClient;
    private Map<String, String> headers;

    public InstrumentsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public InstrumentsApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public void setHeadersOverrides(Map<String, String> headers) {
        this.headers = headers;
    }

    /**
     * Build call for searchInstrument
     * @param query natural language query (required)
     * @param exchanges Comma separated exchanges (optional)
     * @param segments Comma separated segments (optional)
     * @param instrumentTypes Comma separated instrument types (optional)
     * @param expiry expiry in format: yyyy-MM-dd (optional)
     * @param atmOffset page number greater than or equal to 1 (optional)
     * @param pageNumber ATM offset number for queries like ATM, ATM+1, ATM-1, etc. (optional, default to 1)
     * @param records no of records in a single page (optional, default to 10)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call searchInstrumentCall(Object query, Object exchanges, Object segments, Object instrumentTypes, Object expiry, Object atmOffset, Object pageNumber, Object records, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/v2/instruments/search";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (query != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("query", query));
        if (exchanges != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("exchanges", exchanges));
        if (segments != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("segments", segments));
        if (instrumentTypes != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("instrument_types", instrumentTypes));
        if (expiry != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("expiry", expiry));
        if (atmOffset != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("atm_offset", atmOffset));
        if (pageNumber != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page_number", pageNumber));
        if (records != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("records", records));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*", "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "OAUTH2" };
        if (headers != null) {
            localVarHeaderParams.putAll(headers);
        }
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call searchInstrumentValidateBeforeCall(Object query, Object exchanges, Object segments, Object instrumentTypes, Object expiry, Object atmOffset, Object pageNumber, Object records, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'query' is set
        if (query == null) {
            throw new ApiException("Missing the required parameter 'query' when calling searchInstrument(Async)");
        }
        
        com.squareup.okhttp.Call call = searchInstrumentCall(query, exchanges, segments, instrumentTypes, expiry, atmOffset, pageNumber, records, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Search instruments
     * This API provides the functionality to retrieve the instrument details for searched query
     * @param query natural language query (required)
     * @param exchanges Comma separated exchanges (optional)
     * @param segments Comma separated segments (optional)
     * @param instrumentTypes Comma separated instrument types (optional)
     * @param expiry expiry in format: yyyy-MM-dd (optional)
     * @param atmOffset page number greater than or equal to 1 (optional)
     * @param pageNumber ATM offset number for queries like ATM, ATM+1, ATM-1, etc. (optional, default to 1)
     * @param records no of records in a single page (optional, default to 10)
     * @return SearchInstrumentResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public SearchInstrumentResponse searchInstrument(Object query, Object exchanges, Object segments, Object instrumentTypes, Object expiry, Object atmOffset, Object pageNumber, Object records) throws ApiException {
        ApiResponse<SearchInstrumentResponse> resp = searchInstrumentWithHttpInfo(query, exchanges, segments, instrumentTypes, expiry, atmOffset, pageNumber, records);
        return resp.getData();
    }

    /**
     * Search instruments
     * This API provides the functionality to retrieve the instrument details for searched query
     * @param query natural language query (required)
     * @param exchanges Comma separated exchanges (optional)
     * @param segments Comma separated segments (optional)
     * @param instrumentTypes Comma separated instrument types (optional)
     * @param expiry expiry in format: yyyy-MM-dd (optional)
     * @param atmOffset page number greater than or equal to 1 (optional)
     * @param pageNumber ATM offset number for queries like ATM, ATM+1, ATM-1, etc. (optional, default to 1)
     * @param records no of records in a single page (optional, default to 10)
     * @return ApiResponse&lt;SearchInstrumentResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<SearchInstrumentResponse> searchInstrumentWithHttpInfo(Object query, Object exchanges, Object segments, Object instrumentTypes, Object expiry, Object atmOffset, Object pageNumber, Object records) throws ApiException {
        com.squareup.okhttp.Call call = searchInstrumentValidateBeforeCall(query, exchanges, segments, instrumentTypes, expiry, atmOffset, pageNumber, records, null, null);
        Type localVarReturnType = new TypeToken<SearchInstrumentResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Search instruments (asynchronously)
     * This API provides the functionality to retrieve the instrument details for searched query
     * @param query natural language query (required)
     * @param exchanges Comma separated exchanges (optional)
     * @param segments Comma separated segments (optional)
     * @param instrumentTypes Comma separated instrument types (optional)
     * @param expiry expiry in format: yyyy-MM-dd (optional)
     * @param atmOffset page number greater than or equal to 1 (optional)
     * @param pageNumber ATM offset number for queries like ATM, ATM+1, ATM-1, etc. (optional, default to 1)
     * @param records no of records in a single page (optional, default to 10)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call searchInstrumentAsync(Object query, Object exchanges, Object segments, Object instrumentTypes, Object expiry, Object atmOffset, Object pageNumber, Object records, final ApiCallback<SearchInstrumentResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = searchInstrumentValidateBeforeCall(query, exchanges, segments, instrumentTypes, expiry, atmOffset, pageNumber, records, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<SearchInstrumentResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
