/*
 * OpenAPI definition
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: v0
 *
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package io.swagger.client.api;

import com.upstox.ApiCallback;
import com.upstox.ApiClient;
import com.upstox.ApiException;
import com.upstox.ApiResponse;
import com.upstox.Configuration;
import com.upstox.Pair;
import com.upstox.ProgressRequestBody;
import com.upstox.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.upstox.api.AnalyticsResponse;
import com.upstox.api.ApiGatewayErrorResponse;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class MarketApi {
    private ApiClient apiClient;
    private Map<String, String> headers;

    public MarketApi() {
        this(Configuration.getDefaultApiClient());
    }

    public MarketApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public void setHeadersOverrides(Map<String, String> headers) {
        this.headers = headers;
    }

    /**
     * Build call for getChangeOiData
     * @param instrumentKey Underlying asset instrument key (required)
     * @param expiry Expiry date in YYYY-MM-DD format (required)
     * @param date Date in YYYY-MM-DD format for which change OI data is required (required)
     * @param interval Number of days for which difference in OI is required (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getChangeOiDataCall(Object instrumentKey, Object expiry, Object date, Object interval, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/v2/market/change-oi";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (instrumentKey != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("instrument_key", instrumentKey));
        if (expiry != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("expiry", expiry));
        if (date != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("date", date));
        if (interval != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("interval", interval));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*", "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {

        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "OAUTH2" };
        if (headers != null) {
            localVarHeaderParams.putAll(headers);
        }
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getChangeOiDataValidateBeforeCall(Object instrumentKey, Object expiry, Object date, Object interval, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'instrumentKey' is set
        if (instrumentKey == null) {
            throw new ApiException("Missing the required parameter 'instrumentKey' when calling getChangeOiData(Async)");
        }
        // verify the required parameter 'expiry' is set
        if (expiry == null) {
            throw new ApiException("Missing the required parameter 'expiry' when calling getChangeOiData(Async)");
        }
        // verify the required parameter 'date' is set
        if (date == null) {
            throw new ApiException("Missing the required parameter 'date' when calling getChangeOiData(Async)");
        }
        // verify the required parameter 'interval' is set
        if (interval == null) {
            throw new ApiException("Missing the required parameter 'interval' when calling getChangeOiData(Async)");
        }

        com.squareup.okhttp.Call call = getChangeOiDataCall(instrumentKey, expiry, date, interval, progressListener, progressRequestListener);
        return call;
    }

    /**
     * Get Change in OI Data
     * Fetches change in OI data for the given instrument key, expiry, date and interval.
     * @param instrumentKey Underlying asset instrument key (required)
     * @param expiry Expiry date in YYYY-MM-DD format (required)
     * @param date Date in YYYY-MM-DD format for which change OI data is required (required)
     * @param interval Number of days for which difference in OI is required (required)
     * @return AnalyticsResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public AnalyticsResponse getChangeOiData(Object instrumentKey, Object expiry, Object date, Object interval) throws ApiException {
        ApiResponse<AnalyticsResponse> resp = getChangeOiDataWithHttpInfo(instrumentKey, expiry, date, interval);
        return resp.getData();
    }

    /**
     * Get Change in OI Data
     * Fetches change in OI data for the given instrument key, expiry, date and interval.
     * @param instrumentKey Underlying asset instrument key (required)
     * @param expiry Expiry date in YYYY-MM-DD format (required)
     * @param date Date in YYYY-MM-DD format for which change OI data is required (required)
     * @param interval Number of days for which difference in OI is required (required)
     * @return ApiResponse&lt;AnalyticsResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<AnalyticsResponse> getChangeOiDataWithHttpInfo(Object instrumentKey, Object expiry, Object date, Object interval) throws ApiException {
        com.squareup.okhttp.Call call = getChangeOiDataValidateBeforeCall(instrumentKey, expiry, date, interval, null, null);
        Type localVarReturnType = new TypeToken<AnalyticsResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get Change in OI Data (asynchronously)
     * Fetches change in OI data for the given instrument key, expiry, date and interval.
     * @param instrumentKey Underlying asset instrument key (required)
     * @param expiry Expiry date in YYYY-MM-DD format (required)
     * @param date Date in YYYY-MM-DD format for which change OI data is required (required)
     * @param interval Number of days for which difference in OI is required (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getChangeOiDataAsync(Object instrumentKey, Object expiry, Object date, Object interval, final ApiCallback<AnalyticsResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getChangeOiDataValidateBeforeCall(instrumentKey, expiry, date, interval, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<AnalyticsResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getDiiData
     * @param dataType Data type. Allowed value: NSE_EQ|CASH (required)
     * @param interval Interval. Allowed values: 1D, 1M (required)
     * @param from Start date in YYYY-MM-DD format (optional) (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getDiiDataCall(Object dataType, Object interval, Object from, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/v2/market/dii";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (dataType != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("data_type", dataType));
        if (interval != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("interval", interval));
        if (from != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("from", from));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*", "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {

        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "OAUTH2" };
        if (headers != null) {
            localVarHeaderParams.putAll(headers);
        }
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getDiiDataValidateBeforeCall(Object dataType, Object interval, Object from, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'dataType' is set
        if (dataType == null) {
            throw new ApiException("Missing the required parameter 'dataType' when calling getDiiData(Async)");
        }
        // verify the required parameter 'interval' is set
        if (interval == null) {
            throw new ApiException("Missing the required parameter 'interval' when calling getDiiData(Async)");
        }

        com.squareup.okhttp.Call call = getDiiDataCall(dataType, interval, from, progressListener, progressRequestListener);
        return call;
    }

    /**
     * Get DII Data
     * Fetches DII activity data for the given interval.
     * @param dataType Data type. Allowed value: NSE_EQ|CASH (required)
     * @param interval Interval. Allowed values: 1D, 1M (required)
     * @param from Start date in YYYY-MM-DD format (optional) (optional)
     * @return AnalyticsResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public AnalyticsResponse getDiiData(Object dataType, Object interval, Object from) throws ApiException {
        ApiResponse<AnalyticsResponse> resp = getDiiDataWithHttpInfo(dataType, interval, from);
        return resp.getData();
    }

    /**
     * Get DII Data
     * Fetches DII activity data for the given interval.
     * @param dataType Data type. Allowed value: NSE_EQ|CASH (required)
     * @param interval Interval. Allowed values: 1D, 1M (required)
     * @param from Start date in YYYY-MM-DD format (optional) (optional)
     * @return ApiResponse&lt;AnalyticsResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<AnalyticsResponse> getDiiDataWithHttpInfo(Object dataType, Object interval, Object from) throws ApiException {
        com.squareup.okhttp.Call call = getDiiDataValidateBeforeCall(dataType, interval, from, null, null);
        Type localVarReturnType = new TypeToken<AnalyticsResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get DII Data (asynchronously)
     * Fetches DII activity data for the given interval.
     * @param dataType Data type. Allowed value: NSE_EQ|CASH (required)
     * @param interval Interval. Allowed values: 1D, 1M (required)
     * @param from Start date in YYYY-MM-DD format (optional) (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getDiiDataAsync(Object dataType, Object interval, Object from, final ApiCallback<AnalyticsResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getDiiDataValidateBeforeCall(dataType, interval, from, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<AnalyticsResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getFiiData
     * @param dataType Data type. Allowed values: NSE_FO|INDEX_FUTURES, NSE_FO|STOCK_FUTURES, NSE_FO|INDEX_OPTIONS, NSE_FO|STOCK_OPTIONS, NSE_EQ|CASH (required)
     * @param interval Interval. Allowed values: 1D, 1M (required)
     * @param from Start date in YYYY-MM-DD format (optional) (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getFiiDataCall(Object dataType, Object interval, Object from, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/v2/market/fii";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (dataType != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("data_type", dataType));
        if (interval != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("interval", interval));
        if (from != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("from", from));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*", "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {

        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "OAUTH2" };
        if (headers != null) {
            localVarHeaderParams.putAll(headers);
        }
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getFiiDataValidateBeforeCall(Object dataType, Object interval, Object from, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'dataType' is set
        if (dataType == null) {
            throw new ApiException("Missing the required parameter 'dataType' when calling getFiiData(Async)");
        }
        // verify the required parameter 'interval' is set
        if (interval == null) {
            throw new ApiException("Missing the required parameter 'interval' when calling getFiiData(Async)");
        }

        com.squareup.okhttp.Call call = getFiiDataCall(dataType, interval, from, progressListener, progressRequestListener);
        return call;
    }

    /**
     * Get FII Data
     * Fetches FII activity data for the given data type and interval.
     * @param dataType Data type. Allowed values: NSE_FO|INDEX_FUTURES, NSE_FO|STOCK_FUTURES, NSE_FO|INDEX_OPTIONS, NSE_FO|STOCK_OPTIONS, NSE_EQ|CASH (required)
     * @param interval Interval. Allowed values: 1D, 1M (required)
     * @param from Start date in YYYY-MM-DD format (optional) (optional)
     * @return AnalyticsResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public AnalyticsResponse getFiiData(Object dataType, Object interval, Object from) throws ApiException {
        ApiResponse<AnalyticsResponse> resp = getFiiDataWithHttpInfo(dataType, interval, from);
        return resp.getData();
    }

    /**
     * Get FII Data
     * Fetches FII activity data for the given data type and interval.
     * @param dataType Data type. Allowed values: NSE_FO|INDEX_FUTURES, NSE_FO|STOCK_FUTURES, NSE_FO|INDEX_OPTIONS, NSE_FO|STOCK_OPTIONS, NSE_EQ|CASH (required)
     * @param interval Interval. Allowed values: 1D, 1M (required)
     * @param from Start date in YYYY-MM-DD format (optional) (optional)
     * @return ApiResponse&lt;AnalyticsResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<AnalyticsResponse> getFiiDataWithHttpInfo(Object dataType, Object interval, Object from) throws ApiException {
        com.squareup.okhttp.Call call = getFiiDataValidateBeforeCall(dataType, interval, from, null, null);
        Type localVarReturnType = new TypeToken<AnalyticsResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get FII Data (asynchronously)
     * Fetches FII activity data for the given data type and interval.
     * @param dataType Data type. Allowed values: NSE_FO|INDEX_FUTURES, NSE_FO|STOCK_FUTURES, NSE_FO|INDEX_OPTIONS, NSE_FO|STOCK_OPTIONS, NSE_EQ|CASH (required)
     * @param interval Interval. Allowed values: 1D, 1M (required)
     * @param from Start date in YYYY-MM-DD format (optional) (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getFiiDataAsync(Object dataType, Object interval, Object from, final ApiCallback<AnalyticsResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getFiiDataValidateBeforeCall(dataType, interval, from, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<AnalyticsResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getMaxPainData
     * @param instrumentKey Underlying asset instrument key (required)
     * @param expiry Expiry date in YYYY-MM-DD format (required)
     * @param date Date in YYYY-MM-DD format for which Max Pain data is required (required)
     * @param bucketInterval Bucket interval in minutes for the insights list (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getMaxPainDataCall(Object instrumentKey, Object expiry, Object date, Object bucketInterval, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/v2/market/max-pain";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (instrumentKey != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("instrument_key", instrumentKey));
        if (expiry != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("expiry", expiry));
        if (date != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("date", date));
        if (bucketInterval != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("bucket_interval", bucketInterval));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*", "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {

        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "OAUTH2" };
        if (headers != null) {
            localVarHeaderParams.putAll(headers);
        }
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getMaxPainDataValidateBeforeCall(Object instrumentKey, Object expiry, Object date, Object bucketInterval, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'instrumentKey' is set
        if (instrumentKey == null) {
            throw new ApiException("Missing the required parameter 'instrumentKey' when calling getMaxPainData(Async)");
        }
        // verify the required parameter 'expiry' is set
        if (expiry == null) {
            throw new ApiException("Missing the required parameter 'expiry' when calling getMaxPainData(Async)");
        }
        // verify the required parameter 'date' is set
        if (date == null) {
            throw new ApiException("Missing the required parameter 'date' when calling getMaxPainData(Async)");
        }
        // verify the required parameter 'bucketInterval' is set
        if (bucketInterval == null) {
            throw new ApiException("Missing the required parameter 'bucketInterval' when calling getMaxPainData(Async)");
        }

        com.squareup.okhttp.Call call = getMaxPainDataCall(instrumentKey, expiry, date, bucketInterval, progressListener, progressRequestListener);
        return call;
    }

    /**
     * Get Max Pain Data
     * Fetches Max Pain data for the given instrument key, expiry, date and bucket interval.
     * @param instrumentKey Underlying asset instrument key (required)
     * @param expiry Expiry date in YYYY-MM-DD format (required)
     * @param date Date in YYYY-MM-DD format for which Max Pain data is required (required)
     * @param bucketInterval Bucket interval in minutes for the insights list (required)
     * @return AnalyticsResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public AnalyticsResponse getMaxPainData(Object instrumentKey, Object expiry, Object date, Object bucketInterval) throws ApiException {
        ApiResponse<AnalyticsResponse> resp = getMaxPainDataWithHttpInfo(instrumentKey, expiry, date, bucketInterval);
        return resp.getData();
    }

    /**
     * Get Max Pain Data
     * Fetches Max Pain data for the given instrument key, expiry, date and bucket interval.
     * @param instrumentKey Underlying asset instrument key (required)
     * @param expiry Expiry date in YYYY-MM-DD format (required)
     * @param date Date in YYYY-MM-DD format for which Max Pain data is required (required)
     * @param bucketInterval Bucket interval in minutes for the insights list (required)
     * @return ApiResponse&lt;AnalyticsResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<AnalyticsResponse> getMaxPainDataWithHttpInfo(Object instrumentKey, Object expiry, Object date, Object bucketInterval) throws ApiException {
        com.squareup.okhttp.Call call = getMaxPainDataValidateBeforeCall(instrumentKey, expiry, date, bucketInterval, null, null);
        Type localVarReturnType = new TypeToken<AnalyticsResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get Max Pain Data (asynchronously)
     * Fetches Max Pain data for the given instrument key, expiry, date and bucket interval.
     * @param instrumentKey Underlying asset instrument key (required)
     * @param expiry Expiry date in YYYY-MM-DD format (required)
     * @param date Date in YYYY-MM-DD format for which Max Pain data is required (required)
     * @param bucketInterval Bucket interval in minutes for the insights list (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getMaxPainDataAsync(Object instrumentKey, Object expiry, Object date, Object bucketInterval, final ApiCallback<AnalyticsResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getMaxPainDataValidateBeforeCall(instrumentKey, expiry, date, bucketInterval, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<AnalyticsResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getOiData
     * @param instrumentKey Underlying asset instrument key (required)
     * @param expiry Expiry date in YYYY-MM-DD format (required)
     * @param date Date in YYYY-MM-DD format for which OI data is required (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getOiDataCall(Object instrumentKey, Object expiry, Object date, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/v2/market/oi";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (instrumentKey != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("instrument_key", instrumentKey));
        if (expiry != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("expiry", expiry));
        if (date != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("date", date));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*", "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {

        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "OAUTH2" };
        if (headers != null) {
            localVarHeaderParams.putAll(headers);
        }
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getOiDataValidateBeforeCall(Object instrumentKey, Object expiry, Object date, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'instrumentKey' is set
        if (instrumentKey == null) {
            throw new ApiException("Missing the required parameter 'instrumentKey' when calling getOiData(Async)");
        }
        // verify the required parameter 'expiry' is set
        if (expiry == null) {
            throw new ApiException("Missing the required parameter 'expiry' when calling getOiData(Async)");
        }
        // verify the required parameter 'date' is set
        if (date == null) {
            throw new ApiException("Missing the required parameter 'date' when calling getOiData(Async)");
        }

        com.squareup.okhttp.Call call = getOiDataCall(instrumentKey, expiry, date, progressListener, progressRequestListener);
        return call;
    }

    /**
     * Get OI Data
     * Fetches OI data for the given instrument key, expiry and date.
     * @param instrumentKey Underlying asset instrument key (required)
     * @param expiry Expiry date in YYYY-MM-DD format (required)
     * @param date Date in YYYY-MM-DD format for which OI data is required (required)
     * @return AnalyticsResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public AnalyticsResponse getOiData(Object instrumentKey, Object expiry, Object date) throws ApiException {
        ApiResponse<AnalyticsResponse> resp = getOiDataWithHttpInfo(instrumentKey, expiry, date);
        return resp.getData();
    }

    /**
     * Get OI Data
     * Fetches OI data for the given instrument key, expiry and date.
     * @param instrumentKey Underlying asset instrument key (required)
     * @param expiry Expiry date in YYYY-MM-DD format (required)
     * @param date Date in YYYY-MM-DD format for which OI data is required (required)
     * @return ApiResponse&lt;AnalyticsResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<AnalyticsResponse> getOiDataWithHttpInfo(Object instrumentKey, Object expiry, Object date) throws ApiException {
        com.squareup.okhttp.Call call = getOiDataValidateBeforeCall(instrumentKey, expiry, date, null, null);
        Type localVarReturnType = new TypeToken<AnalyticsResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get OI Data (asynchronously)
     * Fetches OI data for the given instrument key, expiry and date.
     * @param instrumentKey Underlying asset instrument key (required)
     * @param expiry Expiry date in YYYY-MM-DD format (required)
     * @param date Date in YYYY-MM-DD format for which OI data is required (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getOiDataAsync(Object instrumentKey, Object expiry, Object date, final ApiCallback<AnalyticsResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getOiDataValidateBeforeCall(instrumentKey, expiry, date, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<AnalyticsResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getPcrData
     * @param instrumentKey Underlying asset instrument key (required)
     * @param expiry Expiry date in YYYY-MM-DD format (required)
     * @param date Date in YYYY-MM-DD format for which PCR data is required (required)
     * @param bucketInterval Bucket interval in minutes for the insights list (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getPcrDataCall(Object instrumentKey, Object expiry, Object date, Object bucketInterval, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/v2/market/pcr";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (instrumentKey != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("instrument_key", instrumentKey));
        if (expiry != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("expiry", expiry));
        if (date != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("date", date));
        if (bucketInterval != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("bucket_interval", bucketInterval));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*", "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {

        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "OAUTH2" };
        if (headers != null) {
            localVarHeaderParams.putAll(headers);
        }
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getPcrDataValidateBeforeCall(Object instrumentKey, Object expiry, Object date, Object bucketInterval, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'instrumentKey' is set
        if (instrumentKey == null) {
            throw new ApiException("Missing the required parameter 'instrumentKey' when calling getPcrData(Async)");
        }
        // verify the required parameter 'expiry' is set
        if (expiry == null) {
            throw new ApiException("Missing the required parameter 'expiry' when calling getPcrData(Async)");
        }
        // verify the required parameter 'date' is set
        if (date == null) {
            throw new ApiException("Missing the required parameter 'date' when calling getPcrData(Async)");
        }
        // verify the required parameter 'bucketInterval' is set
        if (bucketInterval == null) {
            throw new ApiException("Missing the required parameter 'bucketInterval' when calling getPcrData(Async)");
        }

        com.squareup.okhttp.Call call = getPcrDataCall(instrumentKey, expiry, date, bucketInterval, progressListener, progressRequestListener);
        return call;
    }

    /**
     * Get PCR Data
     * Fetches PCR (Put-Call Ratio) data for the given instrument key, expiry, date and bucket interval.
     * @param instrumentKey Underlying asset instrument key (required)
     * @param expiry Expiry date in YYYY-MM-DD format (required)
     * @param date Date in YYYY-MM-DD format for which PCR data is required (required)
     * @param bucketInterval Bucket interval in minutes for the insights list (required)
     * @return AnalyticsResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public AnalyticsResponse getPcrData(Object instrumentKey, Object expiry, Object date, Object bucketInterval) throws ApiException {
        ApiResponse<AnalyticsResponse> resp = getPcrDataWithHttpInfo(instrumentKey, expiry, date, bucketInterval);
        return resp.getData();
    }

    /**
     * Get PCR Data
     * Fetches PCR (Put-Call Ratio) data for the given instrument key, expiry, date and bucket interval.
     * @param instrumentKey Underlying asset instrument key (required)
     * @param expiry Expiry date in YYYY-MM-DD format (required)
     * @param date Date in YYYY-MM-DD format for which PCR data is required (required)
     * @param bucketInterval Bucket interval in minutes for the insights list (required)
     * @return ApiResponse&lt;AnalyticsResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<AnalyticsResponse> getPcrDataWithHttpInfo(Object instrumentKey, Object expiry, Object date, Object bucketInterval) throws ApiException {
        com.squareup.okhttp.Call call = getPcrDataValidateBeforeCall(instrumentKey, expiry, date, bucketInterval, null, null);
        Type localVarReturnType = new TypeToken<AnalyticsResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get PCR Data (asynchronously)
     * Fetches PCR (Put-Call Ratio) data for the given instrument key, expiry, date and bucket interval.
     * @param instrumentKey Underlying asset instrument key (required)
     * @param expiry Expiry date in YYYY-MM-DD format (required)
     * @param date Date in YYYY-MM-DD format for which PCR data is required (required)
     * @param bucketInterval Bucket interval in minutes for the insights list (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getPcrDataAsync(Object instrumentKey, Object expiry, Object date, Object bucketInterval, final ApiCallback<AnalyticsResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getPcrDataValidateBeforeCall(instrumentKey, expiry, date, bucketInterval, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<AnalyticsResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }

    /**
     * Build call for getSmartlistFutures
     * @param assetType Asset type. Allowed values: INDEX, STOCK, COMMODITY (optional)
     * @param category Category. Allowed values: TOP_TRADED, MOST_ACTIVE, OI_GAINERS, OI_LOSERS, PRICE_GAINERS, PRICE_LOSERS, PREMIUM, DISCOUNT (COMMODITY supports only: TOP_TRADED, MOST_ACTIVE, OI_GAINERS, OI_LOSERS) (optional)
     * @param pageNumber Page number (optional, 1-indexed) (optional)
     * @param pageSize Page size (optional, max 50) (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getSmartlistFuturesCall(Object assetType, Object category, Object pageNumber, Object pageSize, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/v2/market/smartlist/futures";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (assetType != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("asset_type", assetType));
        if (category != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("category", category));
        if (pageNumber != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page_number", pageNumber));
        if (pageSize != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page_size", pageSize));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*", "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "OAUTH2" };
        if (headers != null) {
            localVarHeaderParams.putAll(headers);
        }
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getSmartlistFuturesValidateBeforeCall(Object assetType, Object category, Object pageNumber, Object pageSize, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = getSmartlistFuturesCall(assetType, category, pageNumber, pageSize, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get Smartlist Futures
     * Fetches the smartlist of futures for the given asset type and category.
     * @param assetType Asset type. Allowed values: INDEX, STOCK, COMMODITY (optional)
     * @param category Category. Allowed values: TOP_TRADED, MOST_ACTIVE, OI_GAINERS, OI_LOSERS, PRICE_GAINERS, PRICE_LOSERS, PREMIUM, DISCOUNT (COMMODITY supports only: TOP_TRADED, MOST_ACTIVE, OI_GAINERS, OI_LOSERS) (optional)
     * @param pageNumber Page number (optional, 1-indexed) (optional)
     * @param pageSize Page size (optional, max 50) (optional)
     * @return AnalyticsResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public AnalyticsResponse getSmartlistFutures(Object assetType, Object category, Object pageNumber, Object pageSize) throws ApiException {
        ApiResponse<AnalyticsResponse> resp = getSmartlistFuturesWithHttpInfo(assetType, category, pageNumber, pageSize);
        return resp.getData();
    }

    /**
     * Get Smartlist Futures
     * Fetches the smartlist of futures for the given asset type and category.
     * @param assetType Asset type. Allowed values: INDEX, STOCK, COMMODITY (optional)
     * @param category Category. Allowed values: TOP_TRADED, MOST_ACTIVE, OI_GAINERS, OI_LOSERS, PRICE_GAINERS, PRICE_LOSERS, PREMIUM, DISCOUNT (COMMODITY supports only: TOP_TRADED, MOST_ACTIVE, OI_GAINERS, OI_LOSERS) (optional)
     * @param pageNumber Page number (optional, 1-indexed) (optional)
     * @param pageSize Page size (optional, max 50) (optional)
     * @return ApiResponse&lt;AnalyticsResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<AnalyticsResponse> getSmartlistFuturesWithHttpInfo(Object assetType, Object category, Object pageNumber, Object pageSize) throws ApiException {
        com.squareup.okhttp.Call call = getSmartlistFuturesValidateBeforeCall(assetType, category, pageNumber, pageSize, null, null);
        Type localVarReturnType = new TypeToken<AnalyticsResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get Smartlist Futures (asynchronously)
     * Fetches the smartlist of futures for the given asset type and category.
     * @param assetType Asset type. Allowed values: INDEX, STOCK, COMMODITY (optional)
     * @param category Category. Allowed values: TOP_TRADED, MOST_ACTIVE, OI_GAINERS, OI_LOSERS, PRICE_GAINERS, PRICE_LOSERS, PREMIUM, DISCOUNT (COMMODITY supports only: TOP_TRADED, MOST_ACTIVE, OI_GAINERS, OI_LOSERS) (optional)
     * @param pageNumber Page number (optional, 1-indexed) (optional)
     * @param pageSize Page size (optional, max 50) (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getSmartlistFuturesAsync(Object assetType, Object category, Object pageNumber, Object pageSize, final ApiCallback<AnalyticsResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getSmartlistFuturesValidateBeforeCall(assetType, category, pageNumber, pageSize, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<AnalyticsResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getSmartlistMtf
     * @param pageNumber Page number (optional, 1-indexed) (optional)
     * @param pageSize Page size (optional, max 50) (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getSmartlistMtfCall(Object pageNumber, Object pageSize, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/v2/market/smartlist/mtf";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (pageNumber != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page_number", pageNumber));
        if (pageSize != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page_size", pageSize));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*", "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "OAUTH2" };
        if (headers != null) {
            localVarHeaderParams.putAll(headers);
        }
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getSmartlistMtfValidateBeforeCall(Object pageNumber, Object pageSize, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = getSmartlistMtfCall(pageNumber, pageSize, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get Smartlist MTF
     * Fetches the smartlist of MTF (Margin Trade Funding) stocks. Prices are enriched with live LTP data.
     * @param pageNumber Page number (optional, 1-indexed) (optional)
     * @param pageSize Page size (optional, max 50) (optional)
     * @return AnalyticsResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public AnalyticsResponse getSmartlistMtf(Object pageNumber, Object pageSize) throws ApiException {
        ApiResponse<AnalyticsResponse> resp = getSmartlistMtfWithHttpInfo(pageNumber, pageSize);
        return resp.getData();
    }

    /**
     * Get Smartlist MTF
     * Fetches the smartlist of MTF (Margin Trade Funding) stocks. Prices are enriched with live LTP data.
     * @param pageNumber Page number (optional, 1-indexed) (optional)
     * @param pageSize Page size (optional, max 50) (optional)
     * @return ApiResponse&lt;AnalyticsResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<AnalyticsResponse> getSmartlistMtfWithHttpInfo(Object pageNumber, Object pageSize) throws ApiException {
        com.squareup.okhttp.Call call = getSmartlistMtfValidateBeforeCall(pageNumber, pageSize, null, null);
        Type localVarReturnType = new TypeToken<AnalyticsResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get Smartlist MTF (asynchronously)
     * Fetches the smartlist of MTF (Margin Trade Funding) stocks. Prices are enriched with live LTP data.
     * @param pageNumber Page number (optional, 1-indexed) (optional)
     * @param pageSize Page size (optional, max 50) (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getSmartlistMtfAsync(Object pageNumber, Object pageSize, final ApiCallback<AnalyticsResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getSmartlistMtfValidateBeforeCall(pageNumber, pageSize, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<AnalyticsResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getSmartlistOptions
     * @param assetType Asset type. Allowed values: INDEX, STOCK, COMMODITY (optional)
     * @param category Category. Allowed values: TOP_TRADED, MOST_ACTIVE, OI_GAINERS, OI_LOSERS, PRICE_GAINERS, PRICE_LOSERS, IV_GAINERS, IV_LOSERS, UNDER_5000, UNDER_10000 (COMMODITY supports only: TOP_TRADED, MOST_ACTIVE, OI_GAINERS, OI_LOSERS) (optional)
     * @param pageNumber Page number (optional, 1-indexed) (optional)
     * @param pageSize Page size (optional, max 50) (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getSmartlistOptionsCall(Object assetType, Object category, Object pageNumber, Object pageSize, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/v2/market/smartlist/options";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (assetType != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("asset_type", assetType));
        if (category != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("category", category));
        if (pageNumber != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page_number", pageNumber));
        if (pageSize != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page_size", pageSize));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*", "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "OAUTH2" };
        if (headers != null) {
            localVarHeaderParams.putAll(headers);
        }
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getSmartlistOptionsValidateBeforeCall(Object assetType, Object category, Object pageNumber, Object pageSize, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = getSmartlistOptionsCall(assetType, category, pageNumber, pageSize, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get Smartlist Options
     * Fetches the smartlist of options for the given asset type and category.
     * @param assetType Asset type. Allowed values: INDEX, STOCK, COMMODITY (optional)
     * @param category Category. Allowed values: TOP_TRADED, MOST_ACTIVE, OI_GAINERS, OI_LOSERS, PRICE_GAINERS, PRICE_LOSERS, IV_GAINERS, IV_LOSERS, UNDER_5000, UNDER_10000 (COMMODITY supports only: TOP_TRADED, MOST_ACTIVE, OI_GAINERS, OI_LOSERS) (optional)
     * @param pageNumber Page number (optional, 1-indexed) (optional)
     * @param pageSize Page size (optional, max 50) (optional)
     * @return AnalyticsResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public AnalyticsResponse getSmartlistOptions(Object assetType, Object category, Object pageNumber, Object pageSize) throws ApiException {
        ApiResponse<AnalyticsResponse> resp = getSmartlistOptionsWithHttpInfo(assetType, category, pageNumber, pageSize);
        return resp.getData();
    }

    /**
     * Get Smartlist Options
     * Fetches the smartlist of options for the given asset type and category.
     * @param assetType Asset type. Allowed values: INDEX, STOCK, COMMODITY (optional)
     * @param category Category. Allowed values: TOP_TRADED, MOST_ACTIVE, OI_GAINERS, OI_LOSERS, PRICE_GAINERS, PRICE_LOSERS, IV_GAINERS, IV_LOSERS, UNDER_5000, UNDER_10000 (COMMODITY supports only: TOP_TRADED, MOST_ACTIVE, OI_GAINERS, OI_LOSERS) (optional)
     * @param pageNumber Page number (optional, 1-indexed) (optional)
     * @param pageSize Page size (optional, max 50) (optional)
     * @return ApiResponse&lt;AnalyticsResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<AnalyticsResponse> getSmartlistOptionsWithHttpInfo(Object assetType, Object category, Object pageNumber, Object pageSize) throws ApiException {
        com.squareup.okhttp.Call call = getSmartlistOptionsValidateBeforeCall(assetType, category, pageNumber, pageSize, null, null);
        Type localVarReturnType = new TypeToken<AnalyticsResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get Smartlist Options (asynchronously)
     * Fetches the smartlist of options for the given asset type and category.
     * @param assetType Asset type. Allowed values: INDEX, STOCK, COMMODITY (optional)
     * @param category Category. Allowed values: TOP_TRADED, MOST_ACTIVE, OI_GAINERS, OI_LOSERS, PRICE_GAINERS, PRICE_LOSERS, IV_GAINERS, IV_LOSERS, UNDER_5000, UNDER_10000 (COMMODITY supports only: TOP_TRADED, MOST_ACTIVE, OI_GAINERS, OI_LOSERS) (optional)
     * @param pageNumber Page number (optional, 1-indexed) (optional)
     * @param pageSize Page size (optional, max 50) (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getSmartlistOptionsAsync(Object assetType, Object category, Object pageNumber, Object pageSize, final ApiCallback<AnalyticsResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getSmartlistOptionsValidateBeforeCall(assetType, category, pageNumber, pageSize, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<AnalyticsResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }

}
