/*
 * OpenAPI definition
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: v0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package io.swagger.client.api;

import com.upstox.ApiCallback;
import com.upstox.ApiClient;
import com.upstox.ApiException;
import com.upstox.ApiResponse;
import com.upstox.Configuration;
import com.upstox.Pair;
import com.upstox.ProgressRequestBody;
import com.upstox.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.upstox.api.ApiGatewayErrorResponse;
import com.upstox.api.GetNewsResponse;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class NewsApi {
    private ApiClient apiClient;
    private Map<String, String> headers;

    public NewsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public NewsApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public void setHeadersOverrides(Map<String, String> headers) {
        this.headers = headers;
    }

    /**
     * Build call for getNews
     * @param category Category of news to fetch. Allowed values: instrument_keys, positions, holdings (required)
     * @param instrumentKeys Comma-separated list of instrument keys. Required when category is instrument_keys. (optional)
     * @param pageNumber Page number for pagination (optional, default to 1)
     * @param pageSize Number of records per page (optional, default to 100)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getNewsCall(Object category, Object instrumentKeys, Object pageNumber, Object pageSize, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/v2/news";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (category != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("category", category));
        if (instrumentKeys != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("instrument_keys", instrumentKeys));
        if (pageNumber != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page_number", pageNumber));
        if (pageSize != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page_size", pageSize));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*", "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "OAUTH2" };
        if (headers != null) {
            localVarHeaderParams.putAll(headers);
        }
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getNewsValidateBeforeCall(Object category, Object instrumentKeys, Object pageNumber, Object pageSize, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'category' is set
        if (category == null) {
            throw new ApiException("Missing the required parameter 'category' when calling getNews(Async)");
        }
        
        com.squareup.okhttp.Call call = getNewsCall(category, instrumentKeys, pageNumber, pageSize, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get News
     * Fetches news articles for the given instrument keys, or the user&#x27;s current positions or holdings.
     * @param category Category of news to fetch. Allowed values: instrument_keys, positions, holdings (required)
     * @param instrumentKeys Comma-separated list of instrument keys. Required when category is instrument_keys. (optional)
     * @param pageNumber Page number for pagination (optional, default to 1)
     * @param pageSize Number of records per page (optional, default to 100)
     * @return GetNewsResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public GetNewsResponse getNews(Object category, Object instrumentKeys, Object pageNumber, Object pageSize) throws ApiException {
        ApiResponse<GetNewsResponse> resp = getNewsWithHttpInfo(category, instrumentKeys, pageNumber, pageSize);
        return resp.getData();
    }

    /**
     * Get News
     * Fetches news articles for the given instrument keys, or the user&#x27;s current positions or holdings.
     * @param category Category of news to fetch. Allowed values: instrument_keys, positions, holdings (required)
     * @param instrumentKeys Comma-separated list of instrument keys. Required when category is instrument_keys. (optional)
     * @param pageNumber Page number for pagination (optional, default to 1)
     * @param pageSize Number of records per page (optional, default to 100)
     * @return ApiResponse&lt;GetNewsResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<GetNewsResponse> getNewsWithHttpInfo(Object category, Object instrumentKeys, Object pageNumber, Object pageSize) throws ApiException {
        com.squareup.okhttp.Call call = getNewsValidateBeforeCall(category, instrumentKeys, pageNumber, pageSize, null, null);
        Type localVarReturnType = new TypeToken<GetNewsResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get News (asynchronously)
     * Fetches news articles for the given instrument keys, or the user&#x27;s current positions or holdings.
     * @param category Category of news to fetch. Allowed values: instrument_keys, positions, holdings (required)
     * @param instrumentKeys Comma-separated list of instrument keys. Required when category is instrument_keys. (optional)
     * @param pageNumber Page number for pagination (optional, default to 1)
     * @param pageSize Number of records per page (optional, default to 100)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getNewsAsync(Object category, Object instrumentKeys, Object pageNumber, Object pageSize, final ApiCallback<GetNewsResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getNewsValidateBeforeCall(category, instrumentKeys, pageNumber, pageSize, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<GetNewsResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
